﻿
.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #2D61B9;
}

.imgMenu:hover .overlay {
  opacity: 0.9;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}





/* Tooltip */
.test + .tooltip > .tooltip-inner {
    background-color: #FF4B4B;
    color: #FFFFFF;
    border: 1px solid red;
    padding: 15px;
    font-size: 15px;
}

/* Tooltip on top */
.test + .tooltip.top > .tooltip-arrow {
    border-top: 5px solid red;
}

/* Tooltip on bottom */
.test + .tooltip.bottom > .tooltip-arrow {
    border-bottom: 5px solid blue;
}
/* Tooltip on left */
.test + .tooltip.left > .tooltip-arrow {
    border-left: 5px solid red;
}
/* Tooltip on right */
.test + .tooltip.right > .tooltip-arrow {
    border-right: 5px solid black;
}



/* Tooltip imagen ***************************************/
.textImgInfo + .tooltip > .tooltip-inner {
    background-color: black;
    background-image: url(../../Images/FormatoExcel.PNG);
    background-repeat: no-repeat;
    color: transparent;
    border: 10px outset #53c3e2;
    padding-left: 645px;
    /*padding-left: 500%;*/
    font-size: 9.5px;
}

/* Tooltip on top */
.textImgInfo + .tooltip.top > .tooltip-arrow {
    border-top: 5px solid #0b96bc;
}

.textImgInfo {
    color: #03647c;
    padding-top: 7px;
    text-decoration: underline;
}

.textInfo {
    color: #03647c;
    padding-top: 7px;
}

.classCol {
    padding-top: 10px;
}

.classAccesoDenegado {
    padding-top: 60px;
}

.classPaddingPanel {
    padding-top: 80px;
}


fieldset {
    border: 1px solid #ddd !important;
    margin: 0;
    min-width: 0;
    padding: 10px;
    position: relative;
    border-radius: 4px;
    background-color: #F5F5F5;
    padding: 30px;
    padding: 10px 30px 10px 30px;
    /*-webkit-box-shadow: 10px 10px 50px 1px rgba(0,0,0,0.63);
    -moz-box-shadow: 10px 10px 50px 1px rgba(0,0,0,0.63);
    box-shadow: 10px 10px 50px 1px rgba(0,0,0,0.63);*/
    -webkit-box-shadow: 10px 10px 50px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 10px 10px 50px 1px rgba(0,0,0,0.2);
    box-shadow: 10px 10px 50px 1px rgba(0,0,0,0.2);
}

legend {
    color: #03647c;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0px;
    width: 30%;
    border: 1px solid transparent;
    /*border-radius: 4px;*/
    padding: 5px 5px 5px 10px;
    /*background-color: #ffffff;*/
}

.classBorderTable {
    border: 2px solid #96A5B4 !important;
    border-radius: 5px;
}

    .classBorderTable > thead > tr > th {
        border: 1px solid #FFFFFF;
    }

    .classBorderTable > tbody > tr > td {
        border: 1px solid #96A5B4;
    }
/*.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #337ab7;
}*/


.classLabelUser {
    color: white;
    text-align: right;
    font-family: Arial;
    /*line-height: 10px;*/
    /*font-size:5px;*/
}

    .classLabelUser > a:hover {
        color: white;
    }

.classLabelRut {
    color: white;
    text-align: right;
    font-weight: normal;
    font-size: 12px;
    /*line-height: 10px;*/
    font-family: Arial;
}


.divheight {
    height: 14px;
}


.classDdMenu {
    /*padding-left: 145px;*/
    text-align: center;
    background-color: #093259;
    color: white;
}

/*.classDdMenu:hover {
        background-color: #105597;
    }*/

.enlaceconfondo {
    /*margin-top: 180px;*/
    /*line-height: 1;
    text-transform: uppercase;*/
    color: #fff;
    background: rgba(0, 141, 151, 0.4);
    border-radius: 10px;
    box-shadow: 0 0 15px #ddd;
    /*padding: 30px;
    font-size: 36px;*/
}

.classOpacity {
    opacity: 0.9;
    filter: alpha(opacity=60); /* IE < 9.0 */
}

.classPaddingImg {
    padding-top: 6%;
}

.caret-up {
    width: 0;
    height: 0;
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}



/*******************************************************************************************************************************/
.dropdown {
    font-weight: bold;
}

.dropdown-menu > li.kopie > a {
    padding-left: 5px;
    color: #337ab7;
    background-color: #093259;
    font-weight: bold;
}

    .dropdown-menu > li.kopie > a:hover {
        color: #337ab7;
    }


.dropdown-menu {
    padding-left: 10px;
    background-color: #093259;
    opacity: 0.94;
}

    .dropdown-menu > li > a {
        color: white;
    }

        .dropdown-menu > li > a:hover {
            color: #093259;
        }



.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu > a:after {
    border-color: transparent transparent transparent white;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    content: " ";
    display: block;
    float: right;
    height: 0;
    margin-right: -10px;
    margin-top: 5px;
    width: 0;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #7642DF;
}
/*.dropdown-submenu > a {
    font-weight: bold;
}*/
.dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover {
    text-decoration: none;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    color: #093259;
    background-color: #D7D7D7;
}

    .nav .open > a, .nav .open > a:hover, .nav .open > a:after {
        border-left-color: #7642DF;
    }

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #093259;
}


.class_link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: white;
    font-weight: normal;
}


.classLi:hover {
    background-color: white;
}

    .classLi:hover .class_link {
        color: #093259;
    }



@media (max-width: 767px) {
    .navbar-nav {
        display: inline;
    }

    .navbar-default .navbar-brand {
        display: inline;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .navbar-default .navbar-nav .dropdown-menu > li > a {
        color: red;
        background-color: #ccc;
        border-radius: 4px;
        margin-top: 2px;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #333;
    }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            background-color: #ccc;
        }

    .navbar-nav .open .dropdown-menu {
        /*border-bottom: 1px solid white;
        border-radius: 0;*/
    }

    .dropdown-menu {
        padding-left: 10px;
        background-color: #093259;
        opacity: 1;
    }

        .dropdown-menu .dropdown-menu {
            padding-left: 20px;
        }

            .dropdown-menu .dropdown-menu .dropdown-menu {
                padding-left: 30px;
            }


    li.dropdown.open {
        border: 0px solid red;
    }

    li.dropdown-submenu:hover > ul.dropdown-menu {
        display: block;
        text-align: center;
    }

    .dropdown-menu > li.kopie > a {
        display: none;
    }

    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav {
        text-align: center;
    }

    .navbar-nav > li > .dropdown-menu {
        text-align: center;
    }

    .navbar-nav > li > a {
        padding-top: 0px;
        padding-bottom: 0px;
        line-height: 0px;
    }

}


@media (min-width: 768px) {
    ul.nav li:hover > ul.dropdown-menu {
        display: block;
    }
    /*ul.nav li > ul.dropdown-menu {
        display: block;
    }*/
    #navbar {
        text-align: center;
    }
}
/***********************************************************************************************************/

@media screen and (max-width: 600px) {

    .classPaddingImg {
        padding-top: 35%;
    }

    .classPaddingPanel {
        padding-top: 120px;
    }

    legend {
        width: 150%;
    }

    .classAccesoDenegado {
        padding-top: 120px;
    }

    .textImgInfo + .tooltip > .tooltip-inner {
        background-color: black;
        background-image: url(../../Images/FormatoExcel2.PNG);
        background-attachment: scroll;
        background-repeat: no-repeat;
        color: transparent;
        border: 10px outset #53c3e2;
        padding-left: 290px;
        /*padding-left: 500%;*/
        font-size: 18.5px;
    }

    .classCol {
        padding-top: 20px;
    }

    .classCortar {
        width: 60%;
        /*height: 30px;*/
        /*padding: 20px;*/
        /*border: 1px solid blue;*/
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        transition: all 1s;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

        .classCortar:hover {
            width: 100%;
            /*height:30%;*/
            white-space: initial;
            overflow: visible;
            cursor: pointer;
        }
}
	